@import 'colors';

body {
    background-color: $grey;
    color: $black;
    font-size: 12px;
}

.flex-grid {
    display: flex;
}

.col {
    flex: 1;
}

@media (max-width: 400px) {
    .flex-grid {
        display: block;
    }
}
